*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --text-primary: #2e2e2e;
  --text-secondary: #535252;
  --bg-primary: #ecebeb;
  --bg-secondary: #484747;
  --container-width: 1100px;
  --color-error: rgb(226, 28, 28);
}

html,
body {
  color: var(--text-primary);
  line-height: 1.6;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 1px;
}

*:focus-visible {
  outline: 1px solid var(--text-secondary);
}
