.sectionTitle {
  font-size: 16px;
}

.sectionTitleCount {
  font-size: 0.9em;
}

.comments {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid rgb(186, 184, 184);
}

.comment {
  padding: 8px 0;
  border-bottom: 1px solid rgb(186, 184, 184);
}

.commentSubmitter {
  font-size: 14px;
  font-weight: bold;
}

.commentContent {
  margin: 4px 0;
}

.commentCreatedAt {
  font-size: 12px;
  color: var(--text-secondary);
}
